@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --brand-blue: #003B73;
    --brand-amber: #FBBF24;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fbfbfb;
    color: #1c1917;
}

h1, h2, h3, .brand-font {
    font-family: 'Poppins', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e2e2;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #d1d1d1;
}

@keyframes fade-in {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
    animation: fade-in 0.4s ease-out forwards;
}
